.header {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    align-items: center;
}

.link {
    line-height: 1;
    padding: 2px 8px;
    border-radius: 6px;
    text-decoration: none;

    &_active {
        background-color: #3d4c7e;
    }
}
